<div class="container">
  <div class="media shot_header">
  <div class="pull-left">
    <img class="media-object" ng-src="{{shot.user.avatar_url}}" >
  </div>
  <div class="media-body">
    <h1>{{shot.title}}</h1>
    <span class="muted">by</span>
    <label>
      {{shot.user.name}}
    </label>
    | 
    {{shot.created_at }}
  </div>
</div>

<div class="row">
  <div class="span6">
    <img class="shot_image" ng-src="{{shot.images.hidpi}}">
    <a ng-show='liked' title="You like this shot. Click to undo." href="" ng-click="likeShotClick(false)" >
        <img  src="https://cdn.dribbble.com/assets/icon-shotstat-liked-21e62b0f69360a4c5e810aa00fc3355f68e6377f1d5778b28636c7845d0caec2.png" alt="Icon shotstat liked">
        <span class="stats-label">Like</span>
    </a>
    <a ng-show='!liked' title="Like this shot" href="" ng-click="likeShotClick(true)">
        <img src="https://cdn.dribbble.com/assets/icon-shotstat-like-6a1e9e9db48b9b788639f05a658379b7bb027a75d256127f812bf9392664396f.png" alt="Icon shotstat like">
        <span class="stats-label">Like?</span>
    </a>
    <div class="page-header">
      <h2>Responses</h2>
    </div>
    <div ng-repeat = "comment in comments.comments" class="media comment">
      <div class="pull-left">
        <img class="media-object" ng-src="{{comment.user.avatar_url}}">
      </div>
      <div class="media-body">
        <strong>
          <a href="#/players/{{comment.user.username}}">
            {{comment.user.name}}
          </a>
        </strong>
        <p ng-bind-html-unsafe="comment.body"></p>
      </div>

    </div>
    <button 
      class="btn btn-primary" 
      ng-show="comments.page < comments.pages"
      ng-click="comments.loadNextPage()">
      Load More Comments
    </button>
  </div>

  <div class="span3">
      <ul class="nav nav-list">
        <li>
          <i class="icon-heart"></i>
          {{shot.likes_count}} Likes
        </li>
        <li>
          <i class="icon-eye-open"></i>
          {{shot.views_count}} Views
        </li>
        <li>
          <i class="icon-share-alt"></i>
          {{shot.rebounds_count}} Rebounds
        </li>
        <li>
          <i class="icon-comment"></i>
          {{shot.comments_count}} Comments
        </li>
        <li>
          <a href="{{shot.short_url}}">
            <i class="icon-globe"></i>
            {{shot.short_url}}
          </a>
        </li>
      </ul>

  </div>
</div>
</div>